.head {
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 12px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    max-width: 480px;
    top: 0;
    z-index: 100;

    &__image {
        margin: 0 10px;
    }
}